{{>partials/header}}
  Opa {{name}}, tudo bem?
  {{#showOld}}
    Como vai a vida?
  {{/showOld}}
  {{^showOld}}
    Beleza?
  {{/showOld}}
  <hr/>
  <h2>Produtos</h2>

  <ul>
    {{#products}}
      {{>partials/productItem}}
    {{/products}}
  </ul>
  {{^products}}
    Nenhum produto cadastrado
  {{/products}}
{{>partials/footer}}